<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Webpage</title>
</head>
<body>

    <ul id="navigation">
    {% for company_quote in company_quotes %}
        <li>{{ company_quote.company_symbol }} - {{ company_quote.price }}</li>
    {% endfor %}
    </ul>

    <h1>My Webpage</h1>
    {{ item1 }}
    {{ item2 }}

    {# a comment #}
</body>
</html>